@model Finalproject.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomUser.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
