@model VmHome
@inject IHttpContextAccessor _httpContext
@{ ViewData["Title"] = "Index"; }

<section id="titleforall">
    <div class="titlecontact">
        <i class="fa-solid fa-house"></i>
        <p>Product Wich You Add To Cart</p>
    </div>

</section>


<section id="left">
    <div class="container">
        <div class="row">
            <div class="site-main col-sm-12 full-width">

                <div class="entry-content">
                    <div class="woocommerce">
                        <form class="woocommerce-cart-form" action="#" method="post">

                            <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Products)
                                    {
                                        DateTime? discountDate = item.DiscountDate;
                        <tr class="woocommerce-cart-form__cart-item cart_item">

                            <td class="product-remove">
                                <a href="#" class="remove">×</a>
                            </td>

                            <td class="product-thumbnail">
                                <a href="simple-product.html">
                                    <img src="~/ProductDetails/@item.ProductToProduct.FirstOrDefault().ProductImages.FirstOrDefault().Image"
                                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                         alt="">
                                </a>
                            </td>

                            <td class="product-name" data-title="Product">
                                <a href="simple-product.html">Hyper shoe</a>
                            </td>

                            <td class="product-price" data-title="Price">
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>@(discountDate != null && discountDate > DateTime.Now ? item.DiscountPrice : item.Price)
                                </span>
                            </td>

                            <td class="product-quantity" data-title="Quantity">
                                <div>
                                    <a class="minus increment prev btn" href="#">-</a>
                                    <input type="text" disabled id="adults" class="show-number btn" size="10" value="0">
                                    <input type="text" hidden id="qiymet" name="name" value="@Convert.ToInt32(item.Price)" />
                                    <a class="plus increment next btn" href="#">+</a>
                                </div>
                            </td>

                            <td class="product-subtotal" data-title="Subtotal">
                                <span class="woocommerce-Price-amount amount">
                                    <input type="text" disabled id="sum" class="show-number btn" value="@Convert.ToInt32(item.Price)" />
                                    @* <span class="woocommerce-Price-currencySymbol">$</span>@(discountDate != null && discountDate > DateTime.Now ? 1 * item.DiscountPrice : 1 * item.Price)*@
                                </span>
                            </td>
                        </tr>
}
                                </tbody>
                            </table>
                        </form>
                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Cart totals</h2>
                                <table class="shop_table shop_table_responsive">
                                    <tbody>
                                        @{decimal? subTotal = Model.Products.Sum(s => s.DiscountDate != null && s.DiscountDate > DateTime.Now ? s.DiscountPrice : s.Price);}
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td data-title="Subtotal">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>@subTotal
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Shipping</th>
                                            <td data-title="Subtotal">
                                                <span class="woocommerce-Price-amount amount">
                                                    @if (subTotal >= 100)
                                                    {
                                        <span class="woocommerce-Price-currencySymbol">Free</span> }
                                    else
                                    {
                        <span class="woocommerce-Price-currencySymbol">$</span><span>10</span>}

                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td data-title="Total">
                                                <strong>
                                                    <span class="woocommerce-Price-amount amount">
                                                        @if (subTotal >= 100)
                                                        {
                                            <span class="woocommerce-Price-currencySymbol">$</span>@subTotal }
                                        else
                                        {
                            <span class="woocommerce-Price-currencySymbol">$</span>@(subTotal+10)}
                                                    </span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a asp-controller="shop" asp-action="checkout"
                                       class="checkout-button button alt wc-forward">
                                        Proceed to checkout
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div><!-- .entry-content -->
            </div>
        </div>
    </div>

</section>


<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
                                $(document).ready(function () {
                                     


                                    $('.increment').click(function () {
                                        var valueElement = $('#' + $(this).siblings('input').attr('id'));
                                        var sum = $("#sum");
                                        var qiymet = $("#qiymet");

                                        if ($(this).hasClass('plus')) {
                                            valueElement.val(Math.max(parseInt(valueElement.val()) + 1));
                                            console.log(sum.val());
                                        }
                                        else if (valueElement.val() > 0) // Stops the value going into negatives
                                        {
                                            valueElement.val(Math.max(parseInt(valueElement.val()) - 1));

                                        }
                                        sum.val(Math.max(parseInt(qiymet.val()) * valueElement.val()));

                                        //var vurma = (parseInt(sum.val()));
                                        //var vur = (vurma * 2);
                                        //sum.val(vur);


                                        return false;
                                    });


                                })


</script>